# <b> Question 1 : Return the customer IDs of customers who have spent at least $110 with the staff member who has an ID of 2.

# <b> Question 2 :  How many films begin with the letter J?

# <b> Question 3 : What customer has the highest customer ID number whose name starts with an 'E' and has an address ID lower than 500?